Flask==1.0.1
Flask-SQLAlchemy==2.3.2
MarkupSafe==1
SQLAlchemy==1.2.3
Werkzeug==0.14.1
click==6.7
dominate==2.3.1
flask-heroku==0.1.9
gunicorn==19.7.1
itsdangerous==0.24
pip==9.0.1
psycopg2==2.7.4
setuptools==28.8.0
visitor==0.1.3